/* GLOBAL */
* {
    font-family: 'Open sans', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row;
}

/* MAIN */
.side-bar {
    width: 33%;
    height: 100vh;
    background-color: #1f1f3d;
    color: #e9e9f3;
    /* padding: 10px; */
}
button {
    color: #e9e9f3;
    background-color: #5356a4;
}

/* FORM */
.form-and-grid {
    width: 100%;
}
form {
    height: 40vh;
    background-color: #a9aad2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 27%;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.title-container {
    font-size: 12px;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    /* change font weight */
}

.title-input {
    height: 35px;
    border: 2px solid #5356a4;
    border-radius: 3px;
}

.body-container {
    font-size: 12px;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    /* change font weight */
}

.body-input {
    height: 75px;
    border: 1.75px solid #5356a4;
    border-radius: 3px;
}

.save-button {
    height: 35px;
    width: 65%;
    background-color:#1f1f3d;
    border: 2px #5356a4;
    border-radius: 3px;
    cursor: pointer;
}

.disabled {
    color: #1f1f3d;
    background-color: #EAEAF4;    
    height: 35px;
    width: 65%;
    border: 2px #5356a4;
    border-radius: 3px;
    cursor: default;
}

.search-ideas > button {
    background-color: #1f1f3d;
    background-image: url('./assets/search.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    width: 40px;
    padding: 15px;
}

.search-ideas {
    height: 35px;
    width: 65%;
    display: flex;
}

.search-input {
    width: 100%;
    font-weight: 300;
    border: 2px #5356a4;
    border-radius: 3px;
}

/* CARD GRID */
.idea-card-grid {
    height: 60vh;
    background-color: #eaeaf4;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

}
.idea-card {
    width: 185px;
    height: 250px;
    border: 1px solid #1f1f3d;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.card-nav {
    background-color:#1f1f3d;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.starred-button {
    background-image: url('./assets/star-active.svg');
    background-color: #1f1f3d;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 40px;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.star-button {
    background-image: url('./assets/star.svg');
    background-color: #1f1f3d;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 40px;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-image: url('./assets/delete.svg');
    background-color: #1f1f3d;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 40px;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.card-body {
    margin: 0px;
    padding: 0px 10px;
    font-size: 17px;
}

.idea-body {
    font-weight: 300;
}

.bottom-bar {
    color: #e9e9f3;
    background-color: #5356a4;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    height: 30px;
    /* width: 100%; */
    /* adjust sizing */
}

/* #comment-button {
    background-image: url('./assets/comment.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
    width: 40px;
    padding: 15px;
    border: none;
    cursor: pointer;
} */



