/* GLOBAL */
* {
    font-family: 'Open sans', sans-serif;
    font-weight: bold;
}
body {
    display: flex;
    flex-direction: row;
}

/* MAIN */
main {
    width: 33%;
    height: 100vh;
    background-color: #1f1f3d;
    color: white;
}

/* FORM */
.form-and-grid {
    width: 100%;
}
form {
    height: 40vh;
    background-color: #a9aad2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 27%;
}
.title-container {
    width: 65%;
    display: flex;
    flex-direction: column;
}

#title-input {
    height: 35px;
    border: 1px solid #1f1f3d;
    border-radius: 3px;
    margin-top: 0px;
}

.body-container {
    display: flex;
    flex-direction: column;
}
#search-input {
    font-weight: 300;
}

/* CARD GRID */
.idea-body {
    font-weight: 300;
}
.idea-card-grid {
    height: 60vh;
    background-color: #eaeaf4;
}
#comment-button {
    border: 5px solid black;
    width: 3%;
    height: 3vh;
}
.idea-card {
    border: 2px solid black;
    width: 175px;
}
